/**
 * Homepage Services Section Customizer styles
 */

.customize-control {
    margin-bottom: 8px;
}

.customize-control select {
	margin: 0;
}

.customize-control .mce-edit-area iframe,
.customize-control .customize-control-tinymce-editor {
	min-height: 145px !important;
	margin-bottom: -4px;
}

.customize-control .iris-picker {
	margin-top: 12px;
}

.customize-control .upload-button,
.customize-control .wp-color-result {
	margin-bottom: 1px;
}

#customize-control-display_services,
#customize-control-display_services_title,
#customize-control-display_services_text,
#customize-control-display_services_icons,
#customize-control-display_services_block_alignment,
#customize-control-display_services_block_1,
#customize-control-display_services_block_2,
#customize-control-display_services_block_3,
#customize-control-display_services_block_4,
#customize-control-display_services_block_5,
#customize-control-display_services_block_6,
#customize-control-display_services_button,
#customize-control-display_services_colors,
#customize-control-display_services_heading_color,
#customize-control-display_services_font_color,
#customize-control-display_services_background,
#customize-control-display_services_background_color,
#customize-control-display_services_background_image,
#customize-control-display_services_padding,
#customize-control-services_top_padding,
#customize-control-services_bottom_padding {
	margin-bottom: 0;
}

#customize-control-display_services label,
#customize-control-display_services_title label,
#customize-control-display_services_text label,
#customize-control-display_services_icons label,
#customize-control-display_services_block_alignment label,
#customize-control-display_services_block_1 label,
#customize-control-display_services_block_2 label,
#customize-control-display_services_block_3 label,
#customize-control-display_services_block_4 label,
#customize-control-display_services_block_5 label,
#customize-control-display_services_block_6 label,
#customize-control-display_services_button label,
#customize-control-display_services_colors label,
#customize-control-display_services_heading_color label,
#customize-control-display_services_font_color label,
#customize-control-display_services_background label,
#customize-control-display_services_background_color label,
#customize-control-display_services_background_image label,
#customize-control-display_services_padding label,
#customize-control-services_top_padding label,
#customize-control-services_bottom_padding label {
	font-size: 14px;
	font-weight: 600;
}

#customize-control-services_title .customize-control-title,
#customize-control-services_text .customize-control-title,
#customize-control-services_block_alignment .customize-control-title,
#customize-control-services_button_text .customize-control-title,
#customize-control-services_heading_color .customize-control-title,
#customize-control-services_font_color .customize-control-title,
#customize-control-services_background_color .customize-control-title,
#customize-control-services_background_image .customize-control-title {
	display: none;	
}

#customize-control-services_block_icon_position .customize-control-title, 
#customize-control-services_block_icon_size .customize-control-title, 
#customize-control-services_block_1_icon .customize-control-title, 
#customize-control-services_block_1_title .customize-control-title, 
#customize-control-services_block_1_text .customize-control-title, 
#customize-control-services_block_2_icon .customize-control-title, 
#customize-control-services_block_2_title .customize-control-title, 
#customize-control-services_block_2_text .customize-control-title, 
#customize-control-services_block_3_icon .customize-control-title, 
#customize-control-services_block_3_title .customize-control-title, 
#customize-control-services_block_3_text .customize-control-title, 
#customize-control-services_block_4_icon .customize-control-title, 
#customize-control-services_block_4_title .customize-control-title, 
#customize-control-services_block_4_text .customize-control-title, 
#customize-control-services_block_5_icon .customize-control-title, 
#customize-control-services_block_5_title .customize-control-title, 
#customize-control-services_block_5_text .customize-control-title, 
#customize-control-services_block_6_icon .customize-control-title, 
#customize-control-services_block_6_title .customize-control-title, 
#customize-control-services_block_6_text .customize-control-title, 
#customize-control-services_button_url .customize-control-title, 
#customize-control-services_background_image_size .customize-control-title, 
#customize-control-services_background_image_position .customize-control-title, 
#customize-control-services_background_image_attachment .customize-control-title, 
#customize-control-services_background_image_repeat .customize-control-title, 
#customize-control-services_background_image_opacity .customize-control-title, 
#customize-control-services_overlay_color .customize-control-title, 
#customize-control-services_overlay_color_opacity .customize-control-title, 
#customize-control-services_blend_mode .customize-control-title,
#customize-control-services_top_padding label,
#customize-control-services_bottom_padding label {
	font-weight: normal;
}

#customize-control-display_services_heading_color label,
#customize-control-display_services_font_color label,
#customize-control-display_services_background_color label,
#customize-control-display_services_background_image label {
	font-weight: normal;
}

#customize-control-services_slug {
	margin: -1px 6px 1px;
}

#customize-control-services_slug .customize-control-title {
	display: none;
}

#customize-control-services_slug .customize-control-description {
	display: inline-block;
	color: #666;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	padding: 3px 0 0;
	margin: -3px -4px 0 0;	
}

#customize-control-services_slug input {
	display: inline-block;
	color: #666;
	font-size: 13px;
	line-height: 18px;
	width: 34px;
	border: none;
	box-shadow: none;
	background-color: transparent;
	padding: 3px 0;
	margin-top: -3px;
}

#customize-control-services_slug input:focus {
	width: 100%;
	color: #32373c;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
	padding: 2px 5px;
	margin: 3px 0 7px -6px;
}

#customize-control-services_text .wp-switch-editor,
#customize-control-services_block_1_text .wp-switch-editor,
#customize-control-services_block_2_text .wp-switch-editor, 
#customize-control-services_block_3_text .wp-switch-editor, 
#customize-control-services_block_4_text .wp-switch-editor, 
#customize-control-services_block_5_text .wp-switch-editor, 
#customize-control-services_block_6_text .wp-switch-editor {
	margin-top: -28px;
}

#customize-control-services_block_icon_size,
#customize-control-services_background_image_opacity,
#customize-control-services_overlay_color_opacity {
	margin-bottom: 0;
}

#customize-control-services_block_icon_size input,
#customize-control-services_background_image_opacity input,
#customize-control-services_overlay_color_opacity input,
#customize-control-services_top_padding input,
#customize-control-services_bottom_padding input {
	margin-top: -3px;	
}

#customize-control-display_services_colors,
#customize-control-display_services_background,
#customize-control-display_services_padding,
#customize-control-display_services_animation,
#customize-control-display_services_widgets {
	margin-bottom: 0;
}

#customize-control-display_services_colors label,
#customize-control-display_services_background label,
#customize-control-display_services_padding label,
#customize-control-display_services_animation label,
#customize-control-display_services_widgets label,
#_customize-input-display_services_colors,
#_customize-input-display_services_background,
#_customize-input-display_services_padding,
#_customize-input-display_services_animation,
#_customize-input-display_services_widgets {
	display: none;
}

#_customize-description-display_services_colors,
#_customize-description-display_services_background,
#_customize-description-display_services_padding,
#_customize-description-display_services_animation,
#_customize-description-display_services_widgets {
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
}

#_customize-description-display_services_colors a,
#_customize-description-display_services_background a,
#_customize-description-display_services_padding a,
#_customize-description-display_services_animation a,
#_customize-description-display_services_widgets a {
	text-decoration: none;
	font-variant: all-small-caps;
	margin-left: 5px;
}
