/**
 * Homepage Contact Section Customizer styles
 */

.customize-control {
    margin-bottom: 8px;
}

.customize-control select {
	margin: 0;
}

.customize-control .mce-edit-area iframe,
.customize-control .customize-control-tinymce-editor {
	min-height: 145px !important;
	margin-bottom: -4px;
}

.customize-control .iris-picker {
	margin-top: 12px;
}

.customize-control .upload-button,
.customize-control .wp-color-result {
	margin-bottom: 1px;
}

#customize-control-display_contact,
#customize-control-display_contact_title,
#customize-control-display_contact_text,
#customize-control-display_contact_form,
#customize-control-display_contact_button,
#customize-control-display_contact_colors,
#customize-control-display_contact_heading_color,
#customize-control-display_contact_font_color,
#customize-control-display_contact_background,
#customize-control-display_contact_background_color,
#customize-control-display_contact_background_image,
#customize-control-display_contact_padding,
#customize-control-contact_top_padding,
#customize-control-contact_bottom_padding {
	margin-bottom: 0;
}

#customize-control-display_contact label,
#customize-control-display_contact_title label,
#customize-control-display_contact_text label,
#customize-control-display_contact_form label,
#customize-control-display_contact_button label,
#customize-control-display_contact_colors label,
#customize-control-display_contact_heading_color label,
#customize-control-display_contact_font_color label,
#customize-control-display_contact_background label,
#customize-control-display_contact_background_color label,
#customize-control-display_contact_background_image label,
#customize-control-display_contact_padding label,
#customize-control-contact_top_padding label,
#customize-control-contact_bottom_padding label {
	font-size: 14px;
	font-weight: 600;
}

#customize-control-contact_title .customize-control-title,
#customize-control-contact_text .customize-control-title,
#customize-control-contact_form .customize-control-title,
#customize-control-contact_button_text .customize-control-title,
#customize-control-contact_heading_color .customize-control-title,
#customize-control-contact_font_color .customize-control-title,
#customize-control-contact_background_color .customize-control-title,
#customize-control-contact_background_image .customize-control-title {
	display: none;	
}

#customize-control-contact_button_url .customize-control-title, 
#customize-control-contact_background_image_size .customize-control-title, 
#customize-control-contact_background_image_position .customize-control-title, 
#customize-control-contact_background_image_attachment .customize-control-title, 
#customize-control-contact_background_image_repeat .customize-control-title, 
#customize-control-contact_background_image_opacity .customize-control-title, 
#customize-control-contact_overlay_color .customize-control-title, 
#customize-control-contact_overlay_color_opacity .customize-control-title, 
#customize-control-contact_blend_mode .customize-control-title,
#customize-control-contact_top_padding label,
#customize-control-contact_bottom_padding label {
	font-weight: normal;
}

#customize-control-display_contact_heading_color label,
#customize-control-display_contact_font_color label, 
#customize-control-display_contact_background_color label,
#customize-control-display_contact_background_image label {
	font-weight: normal;
}

#customize-control-contact_slug {
	margin: -1px 6px 1px;
}

#customize-control-contact_slug .customize-control-title {
	display: none;
}

#customize-control-contact_slug .customize-control-description {
	display: inline-block;
	color: #666;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	padding: 3px 0 0;
	margin: -3px -4px 0 0;	
}

#customize-control-contact_slug input {
	display: inline-block;
	color: #666;
	font-size: 13px;
	line-height: 18px;
	width: 34px;
	border: none;
	box-shadow: none;
	background-color: transparent;
	padding: 3px 0;
	margin-top: -3px;
}

#customize-control-contact_slug input:focus {
	width: 100%;
	color: #32373c;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
	padding: 2px 5px;
	margin: 3px 0 7px -6px;
}

#customize-control-contact_text .wp-switch-editor {
	margin-top: -28px;
}

#customize-control-contact_background_image_opacity,
#customize-control-contact_overlay_color_opacity {
	margin-bottom: 0;
}

#customize-control-contact_background_image_opacity input,
#customize-control-contact_overlay_color_opacity input,
#customize-control-contact_top_padding input,
#customize-control-contact_bottom_padding input {
	margin-top: -3px;	
}

#customize-control-display_contact_colors,
#customize-control-display_contact_background,
#customize-control-display_contact_padding,
#customize-control-display_contact_animation,
#customize-control-display_contact_widgets {
	margin-bottom: 0;
}

#customize-control-display_contact_colors label,
#customize-control-display_contact_background label,
#customize-control-display_contact_padding label,
#customize-control-display_contact_animation label,
#customize-control-display_contact_widgets label,
#_customize-input-display_contact_colors,
#_customize-input-display_contact_background,
#_customize-input-display_contact_padding,
#_customize-input-display_contact_animation,
#_customize-input-display_contact_widgets {
	display: none;
}

#_customize-description-display_contact_colors,
#_customize-description-display_contact_background,
#_customize-description-display_contact_padding,
#_customize-description-display_contact_animation,
#_customize-description-display_contact_widgets {
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
}

#_customize-description-display_contact_colors a,
#_customize-description-display_contact_background a,
#_customize-description-display_contact_padding a,
#_customize-description-display_contact_animation a,
#_customize-description-display_contact_widgets a {
	text-decoration: none;
	font-variant: all-small-caps;
	margin-left: 5px;
}
